# Dependencies
node_modules/
**/node_modules/

# Production
dist/
**/dist/
dist-ssr/

# Project Specific
downloads/
server/uploads/
server/shared/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.suo

# Environment
.env
.env.local
.env.*.local